@import "../sass/h5bp";
@import "./_colours";
@import "../sass/mixins";

@import "../sass/base";

#site-logo {
  @include svg-background-image("/cobrands/fixmyride/images/fixmyride-logo");
  // background: url("/cobrands/greenwich/images/greenwich-logo.svg") 0 50% no-repeat;
  background-size: 175px 35px;
  width: 180px;
  height: 45px;
}